.card{
  border: 1px solid black;
  border-radius: 5px; 

  /*horizontal, veritcal, blur radius*/
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);

  /* Padding between elements and border */
  padding: 30px;
  margin: 10px;
  text-align: center;
  max-width: 500px;

  /*allows elements to sit side-by-side on the same line while repsecting custom width, height, margins, and padding*/
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  color: hsl(46, 99%, 26%);
}

.card .card-text {
  font-family: 'Courier New', Courier, monospace;
  color: hsl(0, 0%, 0%);
}

.student{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.welcome-message {
  font-size: 2.5em;
  background: rgba(19, 167, 0, 0.329);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5em;
  background: rgba(168, 0, 0, 0.329);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}