@import "tailwindcss";

@font-face {
  font-family: "Pinocchio";
  src: url("./fonts/cm-pinocchio-rounded-sans-3996128/HV Pinocchio/TTF/HV Pinocchio Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pinocchio";
  src: url("./fonts/cm-pinocchio-rounded-sans-3996128/HV Pinocchio/TTF/HV Pinocchio Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*-------------------------------------------------------------------------*/
/* CSS for Website Portfolio */

body {
  font-family: "Pinocchio", "Segoe UI", sans-serif;
  background-color: hsl(210, 10%, 10%);
  color: white;
}

html {
  scroll-behavior: smooth;
}


/* CSS for TopBar Component */
/* .top-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px;

  padding: 20px;
  padding-left: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} */

